<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <link href="/main.go">
        <link rel="stylesheet" href="style/style_error.css">
        <title>Erreur 404</title>
        <link rel="icon" type="image/png" href="style/ressources/butterfly.jpg">
    </head>
    <body>
        <header>
            <a href="http://localhost:8080/">
                <button class="bouton">
                    <img src="../style/ressources/to_be_continued_reduce.png" alt="Acceuil">
                    <span class="bouton-text">HOME</span>
                </button>
            </a>
        </header>
        <main>
            <div class="result">
                <h1>Error 400</h1>
                <p>Check your URL (group ID)</p>
            </div>
            <img src="../style/ressources/joline_butterfly-remove.jpg" alt="Acceuil" class="joline">
        </main>
    </body>
</html>